{% extends 'layout.html' %}

{% block title %}About us{% endblock %}

{% block head %}
<link rel="stylesheet" href="\static\About.css">
{% endblock %}

{% block header %}
<section class="textos-header">
  <h1>Acerca de nosotros</h1>
  <h2>conoce sobre DazeValley</h2>
</section>
<div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
      style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #fff;"></path>
  </svg></div>
{% endblock %}

{% block content %}
<section class="contenedor sobre-nosotros">
  <h2 class="titulo"></h2>
  <div class="contenedor-sobre-nosotros">
      <img src="\static\img\habitacionlujosa1.jpg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
          <p>Bienvenido al Daze Valley Hotel, tu oasis de tranquilidad a un paso del corazón de Managua. ofrecemos un refugio perfecto para quienes buscan relajarse y rejuvenecer. Nuestro hotel combina el encanto de la naturaleza con el confort moderno, 
              creando un ambiente ideal para escapadas románticas, vacaciones en familia o viajes de negocios. En Daze Valley, nos enorgullece brindar una experiencia inolvidable a cada uno de nuestros huéspedes, con servicios excepcionales y atención personalizada.</p>
      </div>
  </div>
</section>
<section class="about-services">
  <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
          <div class="servicio-ind">
              <img src="\static\img\restaurante.png" alt="">
              <h3>Restaurante</h3>
              <p>contamos con servicio buffet y restaurante para nuestro clientes, deguste nuestro sazon exclusivo de DazeValley</p>
          </div>
          <div class="servicio-ind">
              <img src="\static\img\piscina.png" alt="">
              <h3>Piscina</h3>
              <p>Contamos con servicio de piscina para nuestros</p>
          </div>
          <div class="servicio-ind">
              <img src="\static\img\wifi.png" alt="">
              <h3>WI-FI</h3>
              <p>Servicios de internet en las instalaciones y habitaciones del hotel</p>
          </div>
      </div>
  </div>
</section>
{% endblock %}
