{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="\static\habitaciones.css">
{% endblock %}

{% block title %}Habitaciones{% endblock %}

{% block header %}
<section class="textos-header">
    <h1>Daze Valley Hotel</h1>
    <h2>Bienvenido a la seccion de Habitaciones</h2>
</section>
<div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
        style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff;"></path>
    </svg></div>
{% endblock %}

{% block content %}
<section class="portafolio">
    <div class="contenedor">
        <h1>Todas las Habitaciones</h2>
        <div class="galeria-port">
            <div class="imagen-port">
                <img src="\static\img\habitaciondoble1.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion Wide</p>
                    <p>disponible: 2-4 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitaciondoble2.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion double punch</p>
                    <p>disponible: 2-4 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitacionlujosa2.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion  bayview</p>
                    <p>disponibilidad: 2 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitacionlujosa1.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion peacefully</p>
                    <p>disponibilidad: 2 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitacionsencilla1.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion Roach</p>
                    <p>disponibilidad: 1-2 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitaciondoble3.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion Double pack</p>
                    <p>disponibilidad: 2-4 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitacionsencilla2.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion wave</p>
                    <p>disponibilidad: 1-2 personas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="\static\img\habitacionsencilla3.jpg" alt="">
                <div class="hover-galeria">
                    <img src="\static\img\icono1.png" alt="">
                    <p>habitacion Bell</p>
                    <p>disponibilidad: 1-2 personas</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-services">
    <div class="contenedor">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="servicio-cont">
            <div class="servicio-ind">
                <img src="\static\img\restaurante.png" alt="">
                <h3>Restaurante</h3>
                <p>contamos con servicio buffet y restaurante para nuestro clientes, deguste nuestro sazon exclusivo de DazeValley</p>
            </div>
            <div class="servicio-ind">
                <img src="\static\img\piscina.png" alt="">
                <h3>Piscina</h3>
                <p>Contamos con servicio de piscina para nuestros</p>
            </div>
            <div class="servicio-ind">
                <img src="\static\img\wifi.png" alt="">
                <h3>WI-FI</h3>
                <p>Servicios de internet en las instalaciones y habitaciones del hotel</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}