{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="\static\style.css">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="formulario col-sm-4">
    <h1>Inicio de sesion</h1>
    <form method="post" action="/login">
        <img src="/static/img/logo.png" alt="" srcset="">
        <div class="username">
            <!-- El campo name en los inputs es el nombre que se manda al backend a la ruta
            especificada en el action del form -->
            <input type="text" name="correo" required>
            <label>correo</label>
        </div>
        <div class="username">
            <input type="password" name="password" required>
            <label>Contraseña</label>
        </div>
        <div class="recordar">¿olvido su contraseña?</div>
        <input type="submit" name="user_type" value="Iniciar como cliente">
        <input type="submit" name="user_type" value="Iniciar como empleado">
        <div class="registrarse">
            Quiero hacer el <a href="http://127.0.0.1:5000/register">registro</a>
        </div>
    </form>
</div>
{% endblock %}
