{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="\static\register.css">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="formulario">
    <img src="/static/img/logo.png" alt="" srcset="" style="width: 70px; height: 70px;">
    <h1>Registrate!</h1>
    <form method="post" action="/register">
        <div class="username">
            <input type="text" name="Nombre" required>
            <label>Nombre de usuario</label>
        </div>
        <div class="username">
            <input type="text"  name="Correo electrónico" required>
            <label>Correo electronico</label>
        </div>
        <div class="username">
            <input type="text" name="cedula" required>
            <label>Cedula de identidad</label>
        </div>
        <div class="username">
            <input type="text" name="telefono" required>
            <label>Numero de telefono</label>
        </div>
        <div class="username">
            <input type="password" name="Password" required>
            <label>Contraseña</label>
        </div>
        <div class="username">
            <input type="password" name="ConfirmPassword" required>
            <label>Confirmar Contraseña</label>
        </div>
        <div class="registrarse">
            <input type="submit" value="Crear cuenta">
            ¿Ya tienes una cuenta Existente?<a href="http://127.0.0.1:5000/login">Inicia sesion!</a>
        </div>
    </form>
</div>
{% endblock %}